@using Microsoft.AspNetCore.Http

@{
    var username = Context.Session.GetString("username");
}

@if (!string.IsNullOrEmpty(username))
{
    <a class="text">Xin chào @username</a>
    @Html.ActionLink("Đăng Xuất", "Logout", "Home", routeValues: null, htmlAttributes: new { @class = "text" })
}
else
{
    @Html.ActionLink("Đăng ký", "Register", "Home", routeValues: null, htmlAttributes: new { @class = "text" })
    @Html.ActionLink("Đăng nhập", "Login", "Home", routeValues: null, htmlAttributes: new { @class = "text" })
}

