

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
@model CF_HOATUOIBASANH.Models.Account
<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center" style="padding-top: 20px; padding-bottom: 20px;">
                                    <img src="~/img/logo.png" style="width: 300px;" alt="logo">
                                </div>
                                <form >
                                    <p>Vui lòng đăng nhập</p>
                                    <p></p>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Username" class="form-label">Email</label>
                                        <input asp-for="Username" class="form-control form-control-lg" placeholder="Email" required>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Password" class="form-label">Mật khẩu</label>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Mật khẩu" required>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button id="loginButton" name="loginButton" class="btn btn-primary fa-lg gradient-custom-2 mb-3" type="button" style="width: 75%; height: 50px;">
                                            Đăng nhập
                                        </button>

                                        <p></p>
                                    </div>
                                    <div class="d-flex justify-content-center pt-3">
                                        <h5 class="text-center">
                                            <a class="text-muted" asp-controller="Home" asp-action="Register">Chưa có tài khoản? Đăng ký ngay.</a>
                                        </h5>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h1 class="mb-4 text-center" style="color:floralwhite">Ba Sanh</h1>
                                <p class="text-justify">
                                    <strong>Hoa tươi Ba Sanh</strong> là một cửa hàng hoa chuyên nghiệp được thành lập từ năm 2002, với kinh nghiệm hơn 20 năm trong ngành hoa. Ba Sanh luôn tự hào là địa chỉ uy tín và chất lượng để khách hàng có thể tìm thấy những bó hoa đẹp nhất cho các dịp đặc biệt của mình.
                                </p>
                                <p class="text-justify">
                                    Với sự đa dạng về mẫu mã và chủng loại hoa, cửa hàng hoa Ba Sanh đã đáp ứng nhu cầu của rất nhiều khách hàng khó tính và được đánh giá cao bởi sự chuyên nghiệp, tận tâm và chất lượng sản phẩm.
                                </p>
                                <p class="text-center">
                                    Hotline : <strong>0937.37.2400 - 03.9999.1668</strong><br />
                                    Địa chỉ : <strong>015 Lô A - Chung cư Lê Hồng Phong, Phường 1, Quận 10, Tp. Hồ Chí Minh</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#loginButton').click(function (e) {
            e.preventDefault();

            var username = $('#Username').val();
            var password = $('#Password').val();

            $.ajax({
                url: '/Account/Login',
                method: 'POST',
                data: {
                    email: username,
                    password: password
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = '/home';
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseJSON.error;
                    toastr.error(errorMessage, "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                }
            });
        });
    });
</script>
