<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Thêm loại sản phẩm</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="AddCategory" method="post" data-toggle="validator" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tên loại sản phẩm *</label>
                                    <input type="text" name="CategoryName" class="form-control" placeholder="Nhập tên loại sản phẩm" data-errors="Vui lòng nhập tên." required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Thêm loại sản phẩm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
