<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Giới thiệu</h4>
                    <div class="breadcrumb__links">
                        <a href="Home">Trang Chủ</a>
                        <span>Giới thiệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết Thúc Mẩu Breadcrumb -->
<!-- Phần Giới Thiệu -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="~/img/about/about-us.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Chúng tôi là ai?</h4>
                    <p>
                        Hoa Tươi Ba Sanh, thành lập từ năm 2002, là một cửa hàng hoa uy tín nổi tiếng cung cấp các loại hoa tươi đẹp cho các dịp đặc biệt.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Cách chúng tôi hoạt động?</h4>
                    <p>
                        Dịch vụ của chúng tôi bao gồm việc tạo ra các mẫu bó hoa tinh tế cho các dịp như đám cưới, sinh nhật, kỷ niệm, và các sự kiện đặc biệt khác.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Tại sao lại chọn chúng tôi?</h4>
                    <p>
                        Hãy chọn Hoa Tươi Ba Sanh vì sự cam kết với chất lượng, dịch vụ khách hàng xuất sắc, và giao hàng đúng hẹn của hoa tươi tới tận cửa nhà của bạn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết Thúc Phần Giới Thiệu -->
<!-- Phần Đánh Giá -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Với kinh nghiệm hơn 20 năm trong ngành hoa, Hoa Tươi Ba Sanh mang đến cho khách hàng những bó hoa tươi sắc màu và tinh tế, tạo nên những khoảnh khắc đáng nhớ và ý nghĩa.”
                    </p>
                    <p>
                        “Hoa Tươi Ba Sanh, thành lập từ năm 2002, là điểm đến tin cậy cho những bó hoa tươi đẹp và ý nghĩa nhất cho mọi dịp đặc biệt trong cuộc sống của bạn.”
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="/img/about/testimonial-pic.jpg"></div>
            </div>
        </div>
    </div>
</section>
