<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.58300223556!2d106.67539642592774!3d10.766585909373362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f70a7799fa3%3A0x9709a75571f0ba13!2zSG9hIHTGsMahaSBCYSBTYW5o!5e0!3m2!1svi!2s!4v1684993758738!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Thông tin</span>
                        <h2>Liên hệ</h2>
                        <p>
                            Nếu bạn có bất kỳ câu hỏi, góp ý hoặc yêu cầu hỗ trợ, xin vui lòng liên hệ với chúng tôi qua hotline bên dưới.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>TP.Hồ Chí Minh</h4>
                            <p><strong>Hotline:</strong> +84399 991 668 - +84937 372 400 </p>
                            <p><strong>Email:</strong> hoatuoibasanh@gmail.com</p>
                            <p><strong>Địa chỉ:</strong> 015A Lô A, Chung cư Lê Hồng Phong, Phường 1, Quận 10</p>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Họ tên">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="site-btn">Gửi tin nhắn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>